#pagefour > div{
    display:flex;
    justify-content: center;
    flex-direction: column;
}

#left-four-intro {
    /* position: relative; */
    padding:0 100px;
    width: calc(50% - 100px);
}

#left-four-intro .title{
    font-size:1.5rem;
}


#left-four-intro::after{
    content: "";
    background: black;
    height: 20px;
    width: 20px;
    display: block;
    margin-left: -40px;
    border-radius: 20px;
}

#left-four-intro::before{
    display: none;
}


#highlight-container{
    margin-top: 25px;
    padding:0 100px;
    width: 50%;
}

#highlight-container > ul{
    list-style: none;
}

#highlight-container > ul li{
    padding:15px 0px;
    margin-bottom:5px;
}

.hightlight-keywords{
    text-decoration: underline;
}

.hightlight-key{
    color: black;
    padding: 2px;
    border-radius: 2px;
    font-weight: 700;
}

#highlight-container > ul li div a{
    color:black;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    line-height: 25px;
}

#left-four-intro title{
    font-size:1.5rem;
}

  
@media (max-height: 600px) and (orientation: landscape) {
    #left-four-intro::before{
        content: "";
        background: black;
        height: 10px;
        width: 10px;
        display: block;
        border-radius: 10px;
        margin-bottom: 10px
    }
    
    #left-four-intro::after{
        display: none;
    }

    #left-four-intro {
        /* position: relative; */
        box-sizing: border-box;
        padding:0 20px;
        width: 100%;
    }

    #left-four-intro .title{
        font-size:unset;
    }

    #pagefour > div{
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
}

  
@media only screen and (max-width: 600px) {
    #left-four-intro::before{
        content: "";
        background: black;
        height: 10px;
        width: 10px;
        display: block;
        border-radius: 10px;
        margin-bottom: 10px
    }
    
    #left-four-intro::after{
        display: none;
    }

    #left-four-intro {
        /* position: relative; */
        box-sizing: border-box;
        padding:0 20px;
        width: 100%;
    }

    #left-four-intro .title{
        font-size:unset;
    }

    #pagefour > div{
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
}

  
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
