#pagethree > div{
    display:flex;
    justify-content: center;
    flex-direction: column;
}

#left-three-intro {
    /* position: relative; */
    padding:0 100px;
    width: calc(50% - 100px);
}

#left-three-intro .title{
    font-size:1.5rem;
}


#left-three-intro::after{
    content: "";
    background: black;
    height: 20px;
    width: 20px;
    display: block;
    margin-left: -40px;
    /* position: relative; */
}


#left-three-intro title{
    font-size:1.5rem;
}


@media (max-height: 600px) and (orientation: landscape) {
    #left-three-intro {
        /* position: relative; */
        box-sizing: border-box;
        padding:0 20px;
        width: 100%;
    }

    #left-three-intro .title{
        font-size:unset;
    }

    #pagethree > div{
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
}

  
@media only screen and (max-width: 600px) {
    #left-three-intro {
        /* position: relative; */
        box-sizing: border-box;
        padding:0 20px;
        width: 100%;
    }

    #left-three-intro .title{
        font-size:unset;
    }

    #pagethree > div{
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
}

  
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
