@import "./content/pageone.css";
@import "./content/pagetwo.css";
@import "./content/pagethree.css";
@import "./content/pagefour.css";

.raleway{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.content-container{
    display: flex;
    height: calc(100%);
}

.gold-text{
    color:#f1c40f;
}


.left-intro:first{
    height: 20%;
}

.right-intro > div p {
    margin:0;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}


.right-intro > div {
    position: fixed;
    top: 50%;
    padding:0 100px;
}

.left-intro > div p {
    margin:0;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}


.right-intro > div::before{
    content: "";
    background: black;
    height: 20px;
    width: 20px;
    display: block;
    margin-top: -50px;
    margin-left: -40px;
    border-radius: 20px;
    /* position: relative; */
}

.left-intro{
    background-color: white;
    transition: width 2s;
}


.intro-background{
    width: 50%;
}


.hightlight-container{
    margin-top: 25px;
    padding:0 100px;
    width: 50%;
}

.hightlight-container > ul{
    list-style: none;
}

.hightlight-container > ul li{
    padding:15px 0px;
    margin-bottom:5px;
}

.hightlight-keywords{
    text-decoration: underline;
}

.hightlight-key{
    color: black;
    padding: 2px;
    border-radius: 2px;
    font-weight: 700;
}

.hightlight-container > ul li div a{
    color:black;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    line-height: 25px;
}

.animate-updown {
    animation: updown 1.5s ease infinite;
}

.btn{
    border:none;
    background:none;
}

.btn.btn-primary{
    color:white;
    background-color: #013880;
}



@keyframes updown {
    0% {
      transform: translateY(-50%);
    }
  
    50% {
      transform: translateY(25%);
    }
  
    100% {
      transform: translateY(-50%);
    }
}

@media (max-height: 600px) and (orientation: landscape) {

    .intro-background{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .right-intro{
        display: none;
    }

    .content-container{
        display: flex;
        height: 100%
    }

    .hightlight-container{
        padding:0 20px;
        width: 100%;
        box-sizing: border-box;
    }
    
}

@media only screen and (max-width: 600px) {

    .intro-background{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .right-intro{
        display: none;
    }

    .content-container{
        display: flex;
        height: 100%
    }
    
    .hightlight-container{
        padding:0 20px;
        width: 100%;
        box-sizing: border-box;
    }
}